.txt1 {  font-family: Arial, Helvetica, sans-serif; font-size: 36px; font-style: normal; line-height: normal; font-weight: lighter; color: #666666}
.txt2 {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: lighter; color: #666666}
.txt3 {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; color: #666666}
.txt4 {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: bolder; color: #CCCCCC}
.txt5 {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: bolder; color: #999999}
.txt21 {  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; line-height: normal; font-weight: lighter; color: #CCCCCC}
.txt6 {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; color: #333333}
.txt7 {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; color: #CCCCCC}
.txt31 {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; color: #333333}
.txt32 {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; color: #FFCC00}
.txt8 {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: italic; line-height: normal; font-weight: normal; color: #333333}
.txt33 {  font-family: Arial, Helvetica, sans-serif; font-size: 19px; font-style: normal; line-height: normal; font-weight: bold; color: #FFCC00}
.texte9 {  font-family: Arial, Helvetica, sans-serif; font-size: 65px; font-style: normal; line-height: normal; font-weight: lighter; color: #FFFFFF; font-variant: normal}
.texte10 {  font-family: Arial, Helvetica, sans-serif; font-size: 45px; font-style: normal; line-height: normal; font-weight: lighter; color: #FFFFFF}
.texte8 {  font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-style: normal; line-height: normal; font-weight: lighter; color: #FFFFFF}
.texte9 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
}
